/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.home-carousel{
    background:url(../img/dutchcloudmeetupgrid.jpg);
}

.bar.background-image-fixed-2{
    background:url(../img/dutchcloudmeetupgrid.jpg) important;
}

.app_message_error{
    color:#FF9494;
}

.team-name-picture{
    max-width:150px;
    border-radius: 50%;
}

.sponsors-name-picture{
    max-width: 200px;
}

#team-row, #sponsors-row{
    padding-bottom:25px;
}

.post-image{
    max-height:400px;
}

.image-container{
    padding-bottom:25px;
    text-align: center;
}

#blog-listing-medium .post h2, #blog-listing-medium .post .author-category, #heading-breadcrumbs h1{
    text-transform: none;
}

.text-uppercase, .panel.sidebar-menu .panel-heading, #footer .blog-entries .item .name h5, .testimonials .item .testimonial .name-picture h5{
    text-transform: none;
}

.panel.sidebar-menu ul.tag-cloud li a, .heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    text-transform: none;
}

.home-carousel .dark-mask{
    background: url('../img/site/header2.jpg');
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.navbar ul.nav > li > a{
    text-transform: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #009FE3 !important;
}

.btn-template-transparent-black-post {
    color: #ffffff;
    background-color: #d1410c;
    border-color: #ffffff;
  }
  .btn-template-transparent-black-post:hover,
  .btn-template-transparent-black-post:focus,
  .btn-template-transparent-black-post:active,
  .btn-template-transparent-black-post.active,
  .open > .dropdown-toggle.btn-template-transparent-black {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #e0e0e0;
  }
  .btn-template-transparent-black-post:active,
  .btn-template-transparent-black-post.active,
  .open > .dropdown-toggle.btn-template-transparent-black {
    background-image: none;
  }
  .btn-template-transparent-black-post.disabled,
  .btn-template-transparent-black-post[disabled],
  fieldset[disabled] .btn-template-transparent-black-post,
  .btn-template-transparent-black-post.disabled:hover,
  .btn-template-transparent-black-post[disabled]:hover,
  fieldset[disabled] .btn-template-transparent-black-post:hover,
  .btn-template-transparent-black-post.disabled:focus,
  .btn-template-transparent-black-post[disabled]:focus,
  fieldset[disabled] .btn-template-transparent-black-post:focus,
  .btn-template-transparent-black-post.disabled:active,
  .btn-template-transparent-black-post[disabled]:active,
  fieldset[disabled] .btn-template-transparent-black-post:active,
  .btn-template-transparent-black-post.disabled.active,
  .btn-template-transparent-black-post[disabled].active,
  fieldset[disabled] .btn-template-transparent-black-post.active {
    background-color: #009FE3;
    border-color: #ffffff;
  }
  .btn-template-transparent-black-post .badge {
    color: transparent;
    background-color:#009FE3;
  }
  .btn-template-transparent-black-post:hover,
  .btn-template-transparent-black-post:focus,
  .btn-template-transparent-black-post:active,
  .btn-template-transparent-black-post.active {
    background:#009FE3;
    color: #fff;
    border-color: #d1410c;
  }
  

 .col-sm-7 .img-responsive{
    width: 500px;
    border-radius: 100px;
  padding: 20px;
  }

/* Override title capitalization */
.home-carousel h1,
.home-carousel h2,
.navbar-brand,
.box-simple h3,
.navbar ul.nav > li > a {
    text-transform: none !important;
}

/* If you also want to affect other titles throughout the site */
.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
    text-transform: none !important;
}

/* Carousel title styling */
.home-carousel h1 {
    font-size: 36px !important;
    line-height: 1.2 !important;
    white-space: nowrap !important;
    text-transform: none !important;
}

/* Carousel styling */
.home-carousel {
    position: relative;
    background: url('../img/site/header2.jpg') center center;
    background-size: cover;
}

.home-carousel .dark-mask {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 60px 0 !important;
}

.home-carousel .homepage.owl-carousel .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

/* Title styling */
.home-carousel .homepage.owl-carousel h1 {
    font-size: 48px !important;
    line-height: 1.2 !important;
    margin-bottom: 30px !important;
    text-transform: none !important;
    color: #ffffff;
    position: relative;
    z-index: 2;
    margin-top: 0;
}

/* Image styling */
.home-carousel .homepage.owl-carousel img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 15px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds subtle shadow */
}

/* Remove any conflicting styles */
.home-carousel .item img {
    order: unset;
}

.home-carousel .item h1 {
    order: unset;
}

/* Remove envelope icon from send message button */
button[type="submit"] i.fa-envelope {
    display: none !important;
}

/* Adjust padding for send message button */
button[type="submit"] {
    padding: 10px 20px !important;
}

/* Add Azure Heroes logo styling */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-brand span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}