{{ if isset .Site.Params "team" }}
{{ if .Site.Params.team.enable }}
{{ if gt (len .Site.Data.team) 0 }}
<section class="bar background-pentagon no-mb azure-heroes-spotlight">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.team.title }}</h2>
                </div>
                <p class="lead">{{ .Site.Params.team.subtitle | markdownify }}</p>
            </div>
        </div>

        <div class="home-team-grid">
            {{ range .Site.Data.team }}
            <div class="testimonial same-height-always azure-hero-member">
                <div class="top-member">
                    <div class="name-picture">
                        <img alt="{{ .name }}" src="{{ .avatar | absURL }}">
                        <h5>{{ .name }}</h5>
                        <p>{{ .position }}</p>
                    </div>
                </div>
                <div class="text">
                    <p>{{ .text | markdownify }}</p>
                </div>
                <div class="bottom">
                    <div class="team-social-links team-social-small">
                        {{ if .blog }}
                        <a href="{{ .blog }}" target="_blank" rel="noopener" title="Website / Blog"><i class='fas fa-globe'></i></a>
                        {{end}}
                        {{ if .linkedin }}
                        <a href="{{ .linkedin }}" target="_blank" rel="noopener" title="LinkedIn"><i class='fab fa-linkedin'></i></a>
                        {{end}}
                        {{ if .github }}
                        <a href="{{ .github }}" target="_blank" rel="noopener" title="GitHub"><i class='fab fa-github'></i></a>
                        {{end}}
                        {{ if or .bluesky .bsky }}
                        <a href="{{ default .bluesky .bsky }}" target="_blank" rel="noopener" title="Bluesky"><i class='fab fa-bluesky'></i></a>
                        {{end}}
                        {{ if or .x .twitter }}
                        <a href="{{ default .x .twitter }}" target="_blank" rel="noopener" title="X"><i class='fab fa-x-twitter'></i></a>
                        {{end}}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
